<!-- Extend the base html page -->
{% extends 'switched_app/base_template.html' %}

{% load static %}

{% block content %}
  <div class="container-sm p-3 text-center">
    <h1>Weclome to Switched!</h1>
  </div>

  <div class="container-md fs-4">
    <h2 class="text-center">The Home Page</h2>
    <p1>You can access The home page lists out all the games avaliable to review. To checkout a game, simply click anywhere within the game's card!</p1>

    <h2 class="text-center">Leaving a Review</h2>
    <p1>After selecting a game, you'll be taken to a new page where you can view promotional art and find links to purchase the game. Scroll down to find the review section, where you can leave a new review, or edit/delete a previous review.</p1>
  </div>
{% endblock %}
